# create github actions ci.yml file for go and nodejs project with unit tests for bugtracker-backend which will run for a push to main branch and pull request to main branch
name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      # what other options can be added here?
     # You can also add tags, paths, or schedule events. For example:
      # tags: 
      #   - 'v*.*.*'
      # paths:
      #   - 'bugtracker-backend/**'
      # schedule:
      #   - cron: '0 0 * * *'  # Runs daily at midnight
      # workflow_dispatch:  # Allows manual triggering of the workflow
      #   - workflow_dispatch:
      #     inputs:
      #       example_input:
      #         description: 'An example input'
      #         required: false
      #         default: 'default_value'

jobs:
  unit-tests-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          #what does cache-dependency-path do here?
          # It specifies the file path to use for caching dependencies. In this case, it uses the go.sum file to determine which dependencies to cache.
# This helps speed up the build process by reusing previously downloaded dependencies.

          cache-dependency-path: bug-tracker-backend/go.sum

      - name: EXECUTE BACKEND UNIT TESTS
      #what does working-directory do here?
      # It sets the directory in which the command will be executed. In this case, it specifies that the tests should be run in the bugtracker-backend directory.
        working-directory: ./bugtracker-backend
        run: go test -v ./... 
